
/* MAP CSS START*/
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* like button on the pop up */
#myBtn{
  height: 35px;
  width: 0px;
  padding-left: 30px; 
  background-color: white !important;
   /* margin-left: -30px;   */
  background-image: url("heart2.png") ;
  background-repeat: no-repeat; 
} 
#myBtn:hover{
  height: 28px;
  width:0px;
  transition: .5s ease;
  background-image: url("heart.png"); 
  background-repeat: no-repeat;
  
} 
 button{
  border-color: white;
  border-bottom-color: white; 
}