/* CSS files add styling rules to your content */

body {
  font-family: 'Lato', sans-serif;
  margin: 3em;
  background-color: #F7DBA7;
  /* align-items: center;*/
  /* align-content: center; */
}

h1 {
  padding-top: 50px;
  font-style: italic;
/*   color: blue; */
}

h2 {
  margin-top: 2em; 
}

.question {
  display: flex;
  margin-top: 2em;
}
  
.answer-choice img {
  padding-top: 5px;
  height: 13em;
}

.chompas_logo {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
}

img {
/*     float: left; */
    width:  250px;
    height: 150px;
/*     object-fit: cover; */
}


img
{
   margin-left:20px; /*to have the space above the image*/
   margin-right:20px; /*to have the space under the image*/
  text-align: center;
}
button{
  padding-top: 5px;
   margin-left:100px; /*to have the space above the image*/
   margin-right:20px; /*to have the space under the image*/
  border-radius: 50px;
 background-color: #FE5F55;
 width: 100px;
  height:50px;
  cursor: pointer;
}

button:hover {background-color: rgb(202, 92, 59)}

button:active {
  background-color: #FE5F55;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#icon:hover {
  transform: scale(1.3, 1.3);
}

